.header__logo {
    margin: 0;
    padding: 0;
    width: 142px;
    height: 33px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../../images/logo.svg);
    object-fit: contain;
}

@media screen and (max-width: 900px) {
    .header__logo {
        margin: 0 27px 0;
    }
}

@media screen and (max-width: 599px) {
    .header__logo {
        width: 103px;
        height: 24px;
    }
}