.profile__info {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
}

@media screen and (max-width: 650px) {
    .profile__info {
        grid-column: 1;
        grid-row: 2;
        align-items: center;
        margin-top: 30px;
    }
}