.popup__title {
    color: #000;
    margin: 0 0 39px 0;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    background-color: #ffffff;
}

@media screen and (max-width: 599px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 60px;
        margin: 0;
    }
}